# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
*.log

# TestNG (Essencial para seu projeto)
test-output/
reports/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

# VS Code
.vscode/

# Mac OS
.DS_Store