
services:
  # Selenium Hub
  selenium-hub:
    image: selenium/hub:latest
    container_name: selenium-hub
    ports:
      - "4444:4444"
      - "4442:4442"
      - "4443:4443"
    environment:
      - GRID_MAX_SESSION=${GRID_MAX_SESSION:-10}
      - GRID_BROWSER_TIMEOUT=300
      - GRID_TIMEOUT=300
    networks:
      - selenium-grid

  # Chrome Nodes
  chrome:
    image: selenium/node-chrome:latest
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=${NODE_MAX_SESSIONS:-2}
      - SE_NODE_SESSION_TIMEOUT=300
    shm_size: '2gb'
    networks:
      - selenium-grid
    deploy:
      replicas: ${CHROME_REPLICAS:-1}

  # Firefox Nodes
  firefox:
    image: selenium/node-firefox:latest
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=${NODE_MAX_SESSIONS:-2}
      - SE_NODE_SESSION_TIMEOUT=300
    shm_size: '2gb'
    networks:
      - selenium-grid
    deploy:
      replicas: ${FIREFOX_REPLICAS:-1}

  # Edge Nodes
  edge:
    image: selenium/node-edge:latest
    depends_on:
      - selenium-hub
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
      - SE_NODE_MAX_SESSIONS=${NODE_MAX_SESSIONS:-2}
      - SE_NODE_SESSION_TIMEOUT=300
    shm_size: '2gb'
    networks:
      - selenium-grid
    deploy:
      replicas: ${EDGE_REPLICAS:-1}

networks:
  selenium-grid:
    driver: bridge
